body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(224, 35, 44);
}

.home-page-heading {
  color: rgb(230, 42, 151);
}

.about-page-heading {
  color: palegoldenrod;
}
